<%= render partial: "login_logout" %>

<h1>Formulario</h1>

<%= form_tag({controller: :users, action: :contact}, method: :put) do %>

	<div class="form-group">
	<%= label_tag :name, "Nombre" %>
	<%= text_field_tag :name, "", placeholder: "Digite su nombre", class: "form-control" %>
	</div>

	<div class="form-group">
	<%= label_tag :lastname, "Apellido" %>
	<%= text_field_tag :name, "", placeholder: "Digite su apellido", class: "form-control" %>
	</div>

	<%= submit_tag %>

<%end%>