<%= render partial: "login_logout" %>

<h1>Datos</h1>

<strong>Nombre: </strong><%= params[:name] %><br>
<strong>Segundo nombre: </strong><%= params[:secondName] %><br>
<strong>Apellido: </strong><%= params[:lastname] %><br>
<strong>Segundo apellido: </strong><%= params[:secondLastname] %><br>
<strong>Ti o registro civil: </strong><%= params[:ti] %><br>
<strong>Fecha de nacimiento: </strong><%= params[:fechaNacimiento] %><br>
<strong>Edad: </strong><%= params[:edad] %><br>
<strong>Sexo: </strong><%= params[:sexo] %><br>
<strong>Nomnre completo de la madre: </strong><%= params[:nombreCompletoM] %><br>
<strong>Nombre completo del padre: </strong><%= params[:nombreCompletoP] %><br>
<strong>Vacunas: </strong><%= params[:vacunas] %><br>